# Day-1...

# Initial Coding

In [1]:
print('Hello World')

Hello World

In [2]:
#This is a comment
print("Hi there, I am Rsd Tanmoy")

Hi there, I am Rsd Tanmoy

In [1]:
print("Hi there,\nI am Rsd Tanmoy")

Hi there,
I am Rsd Tanmoy

# Single Line Comments

In [8]:
#Individual single line comments
a=2
b=8
c=a*b 
print(c) 
a+b #printing the result

16

10

# Multi-line Comments

In [11]:
#Adding 2 different variables
#Printing them in a new variable 
a=3
b=10
c=a+b
print(c)
a*b

13

30

In [ ]:
#Comments in Python 
#multi-line comment
#shortcut methods

# Docstring Comments

In [12]:
"""
Docstring are comments which not omitted by interpreter but comments are omitted"""

'\nDocstring are comments which not omitted by interpreter but comments are omitted'

In [13]:
"""
Docstring are comments which not omitted by interpreter but comments are omitted"""
a=1
b=3
a/b

0.3333333333333333

# Variable and Data Type

In [2]:
a=10
name='Victor' #name is string
salary=25000.45
print(a)
print(name)
print(salary)

10
Victor
25000.45

In [3]:
a=b=c=10
x=y=z=45
print(a*b)
print(b,z)

100
10 45

# multi-line code

In [4]:
multiline='''str1
str2
str3
str3'''
print(multiline)

str1
str2
str3
str3

# Operators

In [5]:
#There are 7 basics operators
"""Arithmetic Operators
Comparison (Relational) Operators
Assignment Operators
Logical Operators
Bitwise Operators
Membership Operators
Identity Operators"""

'Arithmetic Operators\nComparison (Relational) Operators\nAssignment Operators\nLogical Operators\nBitwise Operators\nMembership Operators\nIdentity Operators'

In [7]:
#Arithmetic Operators
a=10
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

15
5
50
2.0
0

In [9]:
#Assignment Operator
var=10
var+=9
print(var)
var1=25
var1-=10
print(var1)

19
15

In [13]:
#Comparison (Relational) Operators
a=10
b=20
print(a>b)
print(a<b)
print(a==b)
print(a<=b)
print(a>=b)
print(a!=b)

False
True
False
True
False
True

In [14]:
#Logical Operators
a=10<10 and 2>-1 #false and true =false 
print(a)

False

In [21]:
#Bitwise Operators
a=7
b=5
print(a|b)
print(a&b)

7
5

In [27]:
#right shift (>>) and left shift (<<)
print(10>>2) #10= 1010 ,so 2 right shift 0010=2
print(10<<2) #10=1010 , 2 left shift 101000=40
print(10<<3) #10=1010 , 3 left shift 1010000=80

2
40
80

In [30]:
#Identity operator
x=10
print(x is 10)
print(x is not 10)

True
False

In [33]:
#membership operators
pets=['dogs','wolf','lion']
print('cow' in pets)
print('wolf' in pets)

False
True

# Day-2

# Data-types

In [15]:
x=10

In [16]:
y=3

In [17]:
x+y

13

In [18]:
x-y

7

In [22]:
x/y

3.3333333333333335

In [23]:
x%y

1

In [24]:
#Number Data Type
x=10
y=10.23
z=10j
num=10>9

In [28]:
type(x)

int

In [29]:
type(y)

float

In [30]:
type(z)

complex

In [31]:
type(num)

bool

In [32]:
num

True

# String Data Type

In [3]:
name = "welcome to Python Tutorial"

In [4]:
print(name)

welcome to Python Tutorial

In [6]:
name.find('P')

11

In [9]:
name.split(' ')

['welcome', 'to', 'Python', 'Tutorial']

In [10]:
name.split('o')

['welc', 'me t', ' Pyth', 'n Tut', 'rial']

In [34]:
len(name)

26

In [36]:
name[0:26]

'welcome to Python Tutorial'

In [41]:
name[0:7]

'welcome'

In [42]:
name.upper()

'WELCOME TO PYTHON TUTORIAL'

In [43]:
name.lower()

'welcome to python tutorial'

In [46]:
print(name.replace(' ', '-'))

welcome-to-Python-Tutorial

In [50]:
print(name.replace(' to', 'Everyone in'))

welcomeEveryone in Python Tutorial

In [48]:
print (name * 2)  
print (name + "TEST")

welcome to Python Tutorialwelcome to Python Tutorial
welcome to Python TutorialTEST

In [7]:
name

'welcome to Python Tutorial'

In [8]:
name.find('t')

8

# List Data-Type

In [21]:
mylist= [10,20,30,30,'numbers','tutorial']

In [22]:
mylist

[10, 20, 30, 30, 'numbers', 'tutorial']

In [53]:
mylist[2:5]

[30, 30, 'numbers']

In [54]:
mylist[2]=35

In [23]:
mylist

[10, 20, 30, 30, 'numbers', 'tutorial']

In [58]:
mylist.append(10)

In [24]:
mylist

[10, 20, 30, 30, 'numbers', 'tutorial']

In [60]:
mylist.insert(5, 100)

In [25]:
mylist

[10, 20, 30, 30, 'numbers', 'tutorial']

In [27]:
mylist.reverse()

In [28]:
mylist

['tutorial', 'numbers', 30, 30, 20, 10]

In [29]:
mylist.pop()

10

In [30]:
mylist

['tutorial', 'numbers', 30, 30, 20]

# Dictionary Data-Type

In [66]:
courses = {1: 'Python',
           2: 'Data Science',
           'third': 'Machine Learning'}

In [67]:
courses

{1: 'Python', 2: 'Data Science', 'third': 'Machine Learning'}

In [68]:
courses[1]

'Python'

In [69]:
courses['third']

'Machine Learning'

In [70]:
courses['third']='Hadoop'

In [71]:
courses

{1: 'Python', 2: 'Data Science', 'third': 'Hadoop'}

In [72]:
courses[4]='Machine Learning'

In [73]:
courses

{1: 'Python', 2: 'Data Science', 'third': 'Hadoop', 4: 'Machine Learning'}

In [31]:
d1={"Apple":10,"Lemon":20,"Mango":30,"Guava":40}
d1

{'Apple': 10, 'Lemon': 20, 'Mango': 30, 'Guava': 40}

In [32]:
d1.keys()

dict_keys(['Apple', 'Lemon', 'Mango', 'Guava'])

In [33]:
d1.values()

dict_values([10, 20, 30, 40])

In [34]:
d1={"Apple":10,"Lemon":20,"Mango":30,"Guava":40}
d1["Orange"]=89
d1

{'Apple': 10, 'Lemon': 20, 'Mango': 30, 'Guava': 40, 'Orange': 89}

In [35]:
d1={"Apple":10,"Lemon":20,"Mango":30,"Guava":40}
d1["Apple"]=99
d1

{'Apple': 99, 'Lemon': 20, 'Mango': 30, 'Guava': 40}

In [36]:
d2={"Banana":80,"Pineapple":78}

In [37]:
d1.update(d2)

In [38]:
d1

{'Apple': 99,
 'Lemon': 20,
 'Mango': 30,
 'Guava': 40,
 'Banana': 80,
 'Pineapple': 78}

In [40]:
d1.pop("Lemon")
d1

{'Apple': 99, 'Mango': 30, 'Guava': 40, 'Banana': 80, 'Pineapple': 78}

# Tupple Data Type

In [74]:
animals=(10,20,30,'tiger','lion','tiger')

In [75]:
animals

(10, 20, 30, 'tiger', 'lion', 'tiger')

In [76]:
animals[2]

30

In [79]:
animals.count('tiger')

2

In [11]:
tup1=(1,2,3,4,12,34,43,56,78,99)
tup1

(1, 2, 3, 4, 12, 34, 43, 56, 78, 99)

In [12]:
tup2=(44,55,43,56,4,7,1)
tup2

(44, 55, 43, 56, 4, 7, 1)

In [13]:
tup1+tup2

(1, 2, 3, 4, 12, 34, 43, 56, 78, 99, 44, 55, 43, 56, 4, 7, 1)

In [16]:
#len(tup1)

len(tup2)

7

In [17]:
max(tup1)

99

In [18]:
min(tup2)

1

# SET -Range Data Type

In [80]:
myset={10,20,30,30,'tiger','lion','tiger'}

In [81]:
myset

{10, 20, 30, 'lion', 'tiger'}

In [47]:
s1={12,23,'Hello',7-9j,33,23}
s1

{(7-9j), 12, 23, 33, 'Hello'}

In [48]:
s1.add(False)
s1

{(7-9j), 12, 23, 33, False, 'Hello'}

In [49]:
s1.update([12,12,23,34,45])
s1

{(7-9j), 12, 23, 33, 34, 45, False, 'Hello'}

In [53]:
s2={"a","b","c",67,56,12,23}
s2

{12, 23, 56, 67, 'a', 'b', 'c'}

In [54]:
s1.union(s2)

{(7-9j), 12, 23, 33, 34, 45, 56, 67, False, 'Hello', 'a', 'b', 'c'}

In [55]:
s1.intersection(s2)

{12, 23}

In [82]:
range(10)

range(0, 10)

In [83]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Data Type Conversion

In [85]:
x=20
y=("number is")
z=20
print(y,str(x*z))

number is 400

In [86]:
a= [1,2,3,4,4,5,5] #list

In [87]:
b= (2,4,5,5,6,7,8) #Tupple

In [89]:
c= {2,5,4,6,6,7} #Dictionary

In [90]:
d=[a,b,c]

In [91]:
d

[[1, 2, 3, 4, 4, 5, 5], (2, 4, 5, 5, 6, 7, 8), {2, 4, 5, 6, 7}]

In [93]:
list(c)  #Type conversion dictionary to list

[2, 4, 5, 6, 7]

# Decision Making Statement

In [1]:
#if else basic statement
a=10
b=20

In [2]:
if(b>a):
    print("b is greater than a")

b is greater than a

In [4]:
if(a>b):
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

In [5]:
#nested if-else statement
a=10
b=20
c=30

In [6]:
if(a>b)&(a>c):
    print("a is the greatest")
elif(b>a)&(b>c):
    print("b is the greatest")
else:
    print("c is the greatest")

c is the greatest

In [7]:
#if-else with tuple
tup1=('a','b','c')

In [8]:
if 'a' in tup1:
    print("the values of a is present in tup1")

the values of a is present in tup1

In [9]:
if 'z' in tup1:
    print("the values of z is present in tup1")
else:
    print(" the vales of z isn't present in tup1")

 the vales of z isn't present in tup1

In [10]:
#if with list
l1=['a','b','c']

In [11]:
if l1[1]=='b':
    l1[1]='z'

In [12]:
l1

['a', 'z', 'c']

In [13]:
#if-else with dictionary
d1={'k1':10,'k2':20,'k3':30}

In [14]:
d1

{'k1': 10, 'k2': 20, 'k3': 30}

In [15]:
if d1['k3']==30:
    d1['k3']=d1['k3']+100

In [16]:
d1

{'k1': 10, 'k2': 20, 'k3': 130}

# Looping Statements

In [17]:
#while loop
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [18]:
x=1
y=2
while x<=10:
    print(y ,"*", x ,"=", y*x)
    x=x+1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [19]:
#while with list
l1=[1,2,3,4,5]

In [20]:
i=0

In [23]:
while i<len(l1):
    l1[i]=l1[i]+100
    i=i+1

In [24]:
l1

[101, 102, 103, 104, 105]

In [25]:
#for loop
l1=['mango','grapes','banana','orange']

In [26]:
for a in l1:
    print(a)

mango
grapes
banana
orange

In [27]:
#nested for loop
l1=['orange','black','white']
l2=['book','pen','laptop']

In [28]:
for i in l1:
    for j in l2:
        print(i,j)

orange book
orange pen
orange laptop
black book
black pen
black laptop
white book
white pen
white laptop

# Functions

In [37]:
#Basic functions

In [29]:
def hello():
    print("Hello world")

In [30]:
hello()

Hello world

In [31]:
def add_10(x):
    return x+10

In [32]:
add_10(19)

29

In [33]:
add_10(5)

15

In [34]:
def odd_even(x):
    if x%2==0:
        print(x, "is even")
    else:
        print(x, "is odd")

In [35]:
odd_even(29)

29 is odd

In [36]:
odd_even(30)

30 is even

In [38]:
#Lamda functions

In [40]:
g=lambda x:x*x*x

In [41]:
g(9)

729

In [42]:
g(10)

1000

In [43]:
#lambda with filter
l1=[87,20,60,45,34,43,76,89,3,5,1]

In [46]:
final_list_odd=list(filter(lambda x:(x%2!=0),l1))

In [47]:
final_list_even=list(filter(lambda x:(x%2==0),l1))

In [48]:
final_list_odd

[87, 45, 43, 89, 3, 5, 1]

In [49]:
final_list_even

[20, 60, 34, 76]

In [50]:
#lambda with map
l1=[1,2,3,4,5,6,7,8,9,10]

In [51]:
new_list=list(map(lambda x:x*2,l1))

In [52]:
new_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [53]:
#lambda with reduce
l1=[1,2,3,4,5]

In [54]:
from functools import reduce

In [56]:
sum_list=reduce(lambda x,y: x+y,l1)

In [57]:
sum_list

15

# Object Oriented Programing(OOP)

In [58]:
class Phone:
    def make_call(self):
        print("I am making a call")
    def play_game(self):
        print("I am playing a game")

In [59]:
p1= Phone()

In [61]:
p1.make_call()

I am making a call

In [62]:
p1.play_game()

I am playing a game

In [75]:
class Phone:
    def set_color(self,color):
        self.color=color
    def set_cost(self,cost):
        self.cost=cost
    def show_color(self):
        return self.color
    def show_cost(self):
        return  self.cost
    def make_call(self):
        print("I am making a call")
    def play_game(self):
        print("I am playing a game")

In [76]:
p2=Phone()

In [71]:
p2.set_color("blue")

In [77]:
p2.set_cost(5000)

In [73]:
p2.show_color()

'blue'

In [78]:
p2.show_cost()

5000

In [79]:
class Employee:
    def __init__(self,name,age,salary,gender):
        self.name=name
        self.age=age
        self.salary=salary
        self.gender=gender
    def show_employee_details(self):
        print("The name of the employee is", self.name)
        print("The age of the employee is", self.age)
        print("The salary of the employee is", self.salary)
        print("The gender of the employee is", self.gender)

In [80]:
e1 = Employee('Ram',26,30000,'Male')

In [81]:
e1.show_employee_details()

The name of the employee is Ram
The age of the employee is 26
The salary of the employee is 30000
The gender of the employee is Male

In [82]:
class Vehicle:
    def __init__(self,mileage,cost):
        self.mileage=mileage
        self.cost=cost
    def show_vehicle_details(self):
        print("I am a vehicle")
        print("My Mileage is", self.mileage)
        print("My Cost is", self.cost)

In [83]:
e1= Vehicle(300,50000)

In [84]:
e1.show_vehicle_details()

I am a vehicle
My Mileage is 300
My Cost is 50000

In [85]:
class Car(Vehicle):
    def show_car_details(self):
        print("I am a car")

In [89]:
c1= Car(200,3000)

In [90]:
c1.show_vehicle_details()

I am a vehicle
My Mileage is 200
My Cost is 3000

In [91]:
c1.show_car_details()

I am a car

In [92]:
c1.show_vehicle_details()
c1.show_car_details()

I am a vehicle
My Mileage is 200
My Cost is 3000
I am a car